    /*會員中間開始*/

    #FollowingTableScroll {
        margin-right: -21px;
    }

    #FollowingTableScroll .col-12 {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 760px;
    }

    #MyFollowing {
        font-family: "Noto Bold", sans-serif;
    }

    #MyFollowing table thead {
        font-size: 20px;
    }

    #MyFollowing table th {
        border-top: 0;
        border-bottom: 0;
    }

    #MyFollowing table th,td {
        vertical-align: middle !important;
    }

    #MyFollowing table td {
        color: #FFF;
        font-size: 28px;
    }

    #MyFollowing table td img {
    	width: 100px;
    	height: 100px;
    	object-fit: cover;
        border: 3px solid #FFF;
    }

    .trackBtn {
        background-color: #498693;
        border-color: #498693;
        width: 120px;
        font-size: 22px;
    }


